<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3 py-lg-0">
  <span class="navbar-brand mb-0 h1 d-block d-lg-none">Menu</span>

  <button class="navbar-toggler ml-auto" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <div class="navbar-nav w-100 d-flex justify-content-between">
      <a class="py-lg-3 nav-item nav-link active" href="#"><i class="fas fa-home"></i> Inicio</a>
      <a class="py-lg-3 nav-item nav-link" href="#"><i class="fas fa-chart-bar"></i> Estadísticas</a>
      <a class="py-lg-3 nav-item nav-link" href="#"><i class="fas fa-user-plus"></i> Alta Nueva</a>
      <a class="py-lg-3 nav-item nav-link" href="#"><i class="fas fa-search"></i> Búsqueda Avanzada</a>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-lg-2" type="search" placeholder="Buscar por DNI/NIE"
          aria-label="Buscar por DNI/NIE">
        <button class="btn btn-outline-light my-2 my-lg-0" type="button">Buscar</button>
      </form>
    </div>
  </div>
</nav>
