@import 'src/styles.scss';

.nav-item.active {
  background-color: var(--body-bg);
  color: var(--secondary) !important;
  border-bottom: 0.4rem solid var(--secondary);
  padding-bottom: 0.6rem !important;
}

@media (max-width: map-get($grid-breakpoints, 'lg')) {
  .nav-item.active {
    margin: 0 -1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
