<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="trace"
      internalLogFile="c:\a\internal-nlog-AspNetCore3.txt"
	autoReload="true">

	<!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="completelog"
            xsi:type="File"
            fileName="${basedir}/logs/complete-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archives/log.error.${shortdate}.{#}.txt"
            archiveAboveSize="5242880"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            maxArchiveFiles="20" />

    <!-- write logs to database  -->
    <target name="database" xsi:type="Database" dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite" connectionString="${configsetting:item=ConnectionStrings.HDVSDatabase}" >
      <commandText>
		  INSERT INTO Logs([Date], [Logger], [Level], [LevelOrder], [Exception], [CallSite], [UserId], [Message], [Ip])
		  VALUES ($date, $logger, $level, $levelOrder, $exception, $callSite, CASE WHEN $userId = '' THEN NULL ELSE $userId END, $message, $ip);
	  </commandText>
      <parameter name="$date" layout="${date}" />
      <parameter name="$logger" layout="${logger}" />
      <parameter name="$level" layout="${level}" />
      <parameter name="$levelOrder" layout="${level:format=Ordinal}" />
      <parameter name="$exception" layout="${exception:format=tostring}" />
      <parameter name="$userId" layout="${aspnet-user-identity}" />
      <parameter name="$callSite" layout="${callsite:filename=true}" />
      <parameter name="$message" layout="${message}" />
      <parameter name="$ip" layout="${aspnet-request-ip}" />
    </target>
  </targets>
  <rules>
    <logger name="EAPN.*" minlevel="Debug" maxlevel="Error" final="true" writeTo="database" />
    <logger name="*"  minlevel="Info" maxlevel="Error" final="true" writeTo="completelog" />
  </rules>
</nlog>