.c-pointer {
  cursor: pointer;
}

.no-arrow:after {
  content: none;
}

.no-select {
  user-select: none;
}

.ng-valid[required].ng-touched, .ng-valid.required.ng-touched  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched  {
  border-left: 5px solid #a94442; /* red */
}

.ql-editor {
  height: 15vh !important;
}
