.c-pointer {
  cursor: pointer;
}

.bottom-0 {
  bottom: 0;
}

.no-arrow:after {
  content: none;
}

.no-select {
  user-select: none;
}

.ng-valid[required].ng-touched, .ng-valid.required.ng-touched  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched  {
  border-left: 5px solid #a94442; /* red */
}

.ql-editor {
  height: 15vh !important;
}

.profile-picture {
    object-fit: cover;
    object-position: center center;
    width: 40px;
    height: 40px;
}

.modal-upload-body {
  height: 60vh;
  padding-left: 0;
  padding-right: 0;
}
