.c-pointer {
  cursor: pointer;
}

.no-arrow:after {
  content: none;
}

.ng-valid[required].ng-touched, .ng-valid.required.ng-touched  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form).ng-touched  {
  border-left: 5px solid #a94442; /* red */
}
