<div class="container-fluid h-100 w-100" *ngIf="card">
  <div class="card border-0 h-100 w-100 pb-3">
    <div class="card-header toolbar align-items-end justify-content-start border-bottom-0 flex-column flex-lg-row">
      <app-secure-profile-image [photoId]="card.fotoId" class="profile-picture align-self-center" [fichaId]="card.id"
        [organizacionId]="card.organizacionId" (imageChange)="onProfilePictureChanged($event)">
      </app-secure-profile-image>
      <h5 class="ml-3 flex-grow-1 text-light align-self-center">{{fullName}}</h5>
      <nav ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs clear-padding-bottom">
        <ng-container ngbNavItem="datos">
          <a ngbNavLink>{{ 'ficha.datos' | translate }}</a>
          <ng-template ngbNavContent>
            <app-card-personal-data [card]="card" (cardValid)="cardValid = $event"></app-card-personal-data>
            <div class="row">
              <div class="col-12 mt-2 mt-md-0 col-md-2">
                <div *appAllowedPermissions="{permissions: [permissions.personalcard.delete]}">
                  <button *ngIf="card && card.id" type="button" class="btn btn-block btn-danger"
                    (click)="onDeleteClick(deleteModal)">{{ 'core.eliminar' | translate }}</button>
                </div>
              </div>
              <div class="col-12 offset-md-6 mt-2 mt-md-0 col-md-2">
                <button type="button" class="btn btn-block btn-light"
                  (click)="onCancel()">{{ 'core.cancelar' | translate }}</button>
              </div>
              <div class="col-12 mt-2 mt-md-0 col-md-2">
                <button type="button" class="btn btn-block btn-primary" (click)="onSaveCard()"
                  [disabled]="!cardValid">{{ 'core.aceptar' | translate }}</button>
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="seguimientos"
          *appAllowedPermissions="{permissions: [permissions.personalindicators.access]}">
          <a ngbNavLink>{{ 'comun.seguimientos' | translate }}</a>
          <ng-template ngbNavContent>
            <app-card-review [card]="card" [canSaveCard]="cardValid"
              (reviewEditRequired)="onReviewRequired($event, false)" (reviewRequired)="onReviewRequired($event, true)">
            </app-card-review>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem="adjuntos" *appAllowedPermissions="{permissions: [permissions.attachments.access]}">
          <a ngbNavLink>{{ 'comun.adjuntos' | translate }}</a>
          <ng-template ngbNavContent>
            <app-card-attachments [card]="card"></app-card-attachments>
          </ng-template>
        </ng-container>
      </nav>
    </div>
    <div class="card-body border border-top-0">
      <div [ngbNavOutlet]="nav" class="mt-2 w-100 h-100 position-relative"></div>
    </div>
  </div>
</div>

<!-- Delete confirmation 1 -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ 'core.confirmar-eliminacion-titulo' | translate }}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [innerHTML]="'core.confirmar-eliminacion' | translate"></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss()">{{ 'core.cancelar' | translate }}</button>
    <button type="button" ngbAutofocus class="btn btn-danger"
      (click)="modal.close(true)">{{ 'core.eliminar' | translate }}</button>
  </div>
</ng-template>
