<div class="container h-100 w-100" *ngIf="card">
  <div class="card border-0 h-100 w-100 pb-3">
    <div class="card-header toolbar align-items-end justify-content-start border-bottom-0 flex-column flex-lg-row">
      <app-secure-profile-image [photoId]="card.fotoId" class="profile-picture align-self-center" [fichaId]="card.id"
        [organizacionId]="card.organizacionId" (imageChange)="onProfilePictureChanged($event)">
      </app-secure-profile-image>
      <h5 class="ml-3 flex-grow-1 text-light align-self-center">{{fullName}}</h5>
      <nav ngbNav #nav="ngbNav" class="nav-tabs clear-padding-bottom">
        <ng-container ngbNavItem>
          <a ngbNavLink>{{ 'ficha.datos' | translate }}</a>
          <ng-template ngbNavContent>
            <app-card-personal-data [card]="card" (cardValid)="cardValid = $event"></app-card-personal-data>
            <div class="float-right">
              <button type="button" class="btn btn-light"
                (click)="onCancel()">{{ 'core.cancelar' | translate }}</button>
              <button type="button" class="btn btn-primary ml-2" (click)="onSaveCard()"
                [disabled]="!cardValid">{{ 'core.aceptar' | translate }}</button>
            </div>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem *appAllowedPermissions="{permissions: [permissions.personalindicators.access]}">
          <a ngbNavLink>{{ 'comun.seguimientos' | translate }}</a>
          <ng-template ngbNavContent>
            <app-card-review [card]="card" [canSaveCard]="cardValid" (reviewRequired)="onReviewRequired($event)"></app-card-review>
          </ng-template>
        </ng-container>
        <ng-container ngbNavItem *appAllowedPermissions="{permissions: [permissions.attachments.access]}">
          <a ngbNavLink>{{ 'comun.adjuntos' | translate }}</a>
          <ng-template ngbNavContent>
            <app-card-attachments [card]="card"></app-card-attachments>
          </ng-template>
        </ng-container>
      </nav>
    </div>
    <div class="card-body border border-top-0">
      <div [ngbNavOutlet]="nav" class="mt-2 w-100 h-100 position-relative"></div>
    </div>
  </div>
</div>
