<app-secure-image class="thumbnail" [adjuntoId]="photoId" fallbackImagePath="assets/user.svg" imageClasses="profile-picture rounded-circle"
  [ngbPopover]="popContent" placement="right"></app-secure-image>

<ng-template #popContent>
  <app-secure-image class="preview position-relative full-image" [adjuntoId]="photoId"></app-secure-image>
  <div class="info" (click)="onFullImageClick(uploadModal)">
    <div class="info-text">{{ 'core.cambiar-imagen' | translate }}</div>
  </div>
</ng-template>

<!-- Upload Modal -->
<ng-template #uploadModal let-modal>
  <div class="modal-body modal-upload-body">
    <app-file-uploader (filesAdded)="onFileAdded($event)" (cancel)="modal.dismiss()"></app-file-uploader>
  </div>
</ng-template>
