<div class="file-entry border d-flex p-1 mt-1"
  [ngClass]="{'border-danger': file.isError(), 'border-success': file.isSuccess(), 'boder-info': file.inProgress()}">
  <div class="file-info d-flex flex-column flex-grow-1 ml-2 mr-3">
    <p class="file-name">{{ file.file.name }}</p>
    <p class="file-size text-muted">{{ formatBytes(file.file.size) }}</p>
    <p *ngIf="file.inProgress()">
      <ngb-progressbar [type]="file.isError() ? 'danger' : 'succcess'" [value]="file.progress" height=".5rem"
        [striped]="true"></ngb-progressbar>
    </p>
  </div>
  <span *ngIf="file.isSuccess()" class="align-self-center badge badge-success">{{ 'core.completado' | translate }}</span>
  <span *ngIf="file.inProgress()" class="align-self-center badge badge-info">{{ 'core.subiendo' | translate }}</span>
  <span *ngIf="file.isError()" class="align-self-center badge badge-danger">{{ 'core.error' | translate }}</span>
</div>
