#sidebar {
  position: fixed;
  min-width: 250px;
  max-width: 250px;
  top: 0;
  left: -250px;
  z-index: 9998;
  height: 100vh;
  background-color: var(--body-bg);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  &.active {
    left: 0px;
  }
}

#sidebar-filters > .form-group-tabbed {
  position: relative;
  width: 100%;
  padding-right: 1rem;

  & > *:not(:first-child) {
    display: block;
    margin-left: 1rem;
  }
}

.overlay {
  visibility: hidden;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9997;
  opacity: 0;
  transition: all 0.3s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
