<div class="position-absolute w-100 h-100 d-flex flex-column"
  *appAllowedPermissions="{permissions: [permissions.personalindicators.read]}">
  <div class="d-flex flex-row-reverse mb-3"
    *appAllowedPermissions="{permissions: [permissions.personalindicators.write]}">
    <button [disabled]="!selection.length" class="btn btn-danger"
      (click)="onDeleteClick(deleteModal)">{{'core.eliminar' | translate}}</button>
    <div class="btn-group mr-1 mr-lg-3">
      <button [disabled]="selection.length !== 1" type="button" class="btn btn-primary"
        (click)="onViewReviewClick()">{{ 'core.ver' | translate }}</button>
      <div class="btn-group" ngbDropdown role="group" placement="bottom-right"
        *appAllowedPermissions="{permissions: [permissions.personalindicators.write]}">
        <button [disabled]="selection.length !== 1" class="btn btn-primary dropdown-toggle-split"
          ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem (click)="onEditReviewClick()">{{ 'core.editar' | translate }}</button>
        </div>
      </div>
    </div>

    <button class="btn btn-primary mr-1 mr-lg-3"
      *appAllowedPermissions="{permissions: [permissions.personalindicators.delete]}"
      (click)="onAddReviewClick()">{{'core.anadir' | translate}}</button>
  </div>
  <app-grid class="flex-grow-1" [data]="card.seguimientos" [columns]="columns" [showToolbar]="false"
    [title]="'comun.adjuntos' | translate" (selectionChange)="selection = $event">
  </app-grid>
</div>

<!-- Delete confirmation -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">{{ 'core.confirmar-eliminacion-titulo' | translate }}</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [innerHTML]="'core.confirmar-eliminacion' | translate"></div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss()">{{ 'core.cancelar' | translate }}</button>
    <button type="button" ngbAutofocus class="btn btn-danger"
      (click)="modal.close(true)">{{ 'core.eliminar' | translate }}</button>
  </div>
</ng-template>
