<header class="navbar navbar-expand sticky-top d-flex p-0 navbar-light bg-light">
  <a class="navbar-brand text-truncate flex-grow-1">
    <a [routerLink]="['/']">
      <img src="assets/logoCP.svg" width="50" height="60" class="mx-3" alt="" />
    </a>
    <span class="font-weight-bolder align-text-top no-select text-secondary">
      <h3 class="d-none d-lg-inline">{{ 'header.titulo' | translate }}</h3>
      <h3 class="d-inline d-lg-none text-uppercase">{{ 'header.titulo-abreviado' | translate }}</h3>
    </span>
  </a>
  <ul class="navbar-nav" *ngIf="usuario">
    <li class="nav-item" ngbDropdown>
      <div class="nav-link c-pointer d-flex align-items-center mr-2 h40" ngbDropdownToggle>
        <app-secure-image class="position-relative" [adjuntoId]="usuario.organizacionFotoId"
          fallbackImagePath="assets/partner.svg" imageClasses="profile-picture" *ngIf="usuario.organizacionFotoId">
        </app-secure-image>
        <app-secure-image class="position-relative ml-3" [adjuntoId]="usuario.fotoId"
          fallbackImagePath="assets/user.svg" imageClasses="profile-picture rounded-circle">
        </app-secure-image>
      </div>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
        <div *appAllowedPermissions="{permissions: [permissions.user.superadmin]}">
          <a ngbDropdownItem *appAllowedPermissions="{permissions:[permissions.user.superadmin]}"
            routerLink="/configuracion"
            [title]="'header.menu.configuracion' | translate">{{'header.menu.configuracion' | translate}}</a>
          <a ngbDropdownItem routerLink="/perfiles"
            [title]="'header.menu.perfiles-titulo' | translate">{{'header.menu.perfiles' | translate}}</a>
          <a ngbDropdownItem routerLink="/organizaciones"
            [title]="'header.menu.organizaciones-titulo' | translate">{{'header.menu.organizaciones' | translate}}</a>
          <div class="dropdown-divider"></div>
        </div>
        <div *appAllowedPermissions="{permissions: [permissions.user.superadmin]}">
          <a ngbDropdownItem routerLink="/usuarios"
            [title]="'header.menu.usuarios-titulo' | translate">{{'header.menu.usuarios' | translate}}</a>
          <div class="dropdown-divider"></div>
        </div>
        <a ngbDropdownItem routerLink="/perfil"
          [title]="'header.menu.mi-perfil-titulo' | translate">{{'header.menu.mi-perfil' | translate}}</a>
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem [title]="'header.menu.cerrar-sesion-titulo' | translate"
          (click)="onLogout()">{{'header.menu.cerrar-sesion' | translate}}</a>
      </div>
    </li>
  </ul>
</header>
