<app-grid [data]="entries" [columns]="columns" [showAddButton]="false" [showEditButton]="true"
  [editButtonText]="'core.ver' | translate" [showDeleteButton]="false" [title]="'comun.logs' | translate"
  [multiselect]="false" [pagination]="true" (editItem)="selectedEntry=$event; onViewEntry(entryModal)">
</app-grid>

<ng-template #entryModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div ngbAutofocus class="modal-body">
    <div class="row">
      <div class="col-4 label col-lg-2">{{ 'core.fecha' | translate }}</div>
      <div class="col-8 col-lg-4">{{ selectedEntry.date | date: 'medium' }}</div>
      <div class="col-4 label col-lg-2">{{ 'logs.ip' | translate }}</div>
      <div class="col-8 col-lg-4">{{ selectedEntry.ip }}</div>
      <div class="col-4 label col-lg-2">{{ 'comun.usuario' | translate }}</div>
      <div class="col-8 col-lg-4">{{ selectedEntry.userName }}</div>
      <div class="col-4 label col-lg-2">{{ 'comun.organizacion' | translate }}</div>
      <div class="col-8 col-lg-4">{{ selectedEntry.organizacionName }}</div>
      <div class="col-4 label col-lg-2">{{ 'logs.level' | translate }}</div>
      <div class="col-8 col-lg-4">{{ selectedEntry.level }}</div>
    </div>
    <div class="row mt-3" *ngIf="selectedEntry.message">
      <div class="col-12 label">{{ 'comun.descripcion' | translate }}</div>
      <div class="col-12">{{ selectedEntry.message }}</div>
    </div>
    <div class="row mt-3" *ngIf="selectedEntry.exception">
      <div class="col-12 label">{{ 'core.error' | translate }}</div>
      <div class="col-12">{{ selectedEntry.exception }}</div>
    </div>
  </div>
</ng-template>
