<div *ngIf="configuration">
  <div class="d-flex justify-content-between">
    <app-checkbox label="{{ 'configuracion.mostrar-enlaces' | translate }}" class="align-self-center"
      [(ngModel)]="configuration.mostrarEnlaces"></app-checkbox>
    <button class="btn btn-link mr-3"
      (click)="onAddLinkClick()">{{ 'configuracion.anadir-enlace' | translate }}</button>
  </div>
  <div class="form-row mt-3" *ngFor="let link of links">
    <div class="col-5">
      <input type="text" class="form-control" placeholder="{{ 'configuracion.enlace-descripcion' | translate }}"
        [(ngModel)]="link.description" (change)="onChange()">
    </div>
    <div class="col-6">
      <input type="url" class="form-control" placeholder="{{ 'configuracion.enlace-enlace' | translate }}"
        [(ngModel)]="link.link" (change)="onChange()">
    </div>
    <div class="col-1 align-self-center text-center">
      <i class="fas fa-times c-pointer" (click)="onDeleteLinkClick(link)"></i>
    </div>
  </div>
</div>
