<div class="w-100 h-100 d-flex flex-column">
  <div class="d-flex flex-row justify-content-between">
    <span class="ml-3 text-muted no-select">* {{ 'core.obligatorio' | translate }}</span>
    <a class="text-muted c-pointer mr-3" *ngIf="!showCloseAll"
      (click)="showCloseAll = !showCloseAll; acc.expandAll()">{{ 'core.abrir-todo' | translate }} ▼</a>
    <a class="text-muted c-pointer mr-3" *ngIf="showCloseAll"
      (click)="showCloseAll = !showCloseAll; acc.collapseAll()">{{ 'core.cerrar-todo' | translate }} ▲</a>
  </div>
  <div class="flex-grow-1">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel [id]="i" *ngFor="let cat of internalCategories; let i=index" [title]="cat.category.descripcion">
        <ng-template ngbPanelHeader>
          <div class="no-select c-pointer d-flex justify-content-between align-items-center" (click)="acc.toggle(i)">
            <span>{{cat.category.descripcion + (cat.category.obligatorio ? ' *' : '')}}</span>
            <button *ngIf="enabled" class="btn btn-link" (click)="onClearSelectionClick(cat, $event)">{{ 'core.restablecer' | translate }}</button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngFor="let indicator of cat.category.indicadores; let i=index;">
            <ng-container
              *ngTemplateOutlet="cat.category.respuestaMultiple ? multiple : simple; context: {$implicit: { cat: cat, indicator: indicator }}">
            </ng-container>

            <i class="ml-1 fas fa-info-circle text-muted" *ngIf="indicator.verificacion"
              ngbTooltip="{{indicator.verificacion}}" #t="ngbTooltip" (click)="t.open()" container="body"></i>
          </div>

          <div class="form-group mt-4 border-top" *ngIf="showVerificationSection(cat.category)">
            <div *ngFor="let indicator of cat.category.indicadores; let i=index;">
              <app-checkbox *ngIf="indicator.verificacion && indicatorSelected(indicator)"
                [checked]="verificationSelected(indicator)" (change)="setVerificationSelected(indicator, $event)"
                [label]="indicator.verificacion" [disabled]="!enabled"></app-checkbox>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="inputObservaciones">{{ 'comun.observaciones' | translate }}</label>
            <quill-editor [disabled]="!enabled" id="inputObservaciones" [(ngModel)]="cat.observations"
              name="observaciones" [placeholder]="'comun.observaciones' | translate" [readOnly]="!enabled"
              (onContentChanged)="onObservationsChange(cat)">
            </quill-editor>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<ng-template #multiple let-data>
  <div class="d-inline-block">
    <app-checkbox [label]="data.indicator.descripcion" [checked]="indicatorSelected(data.indicator)"
      [disabled]="!enabled" (change)="setIndicatorSelected(data.indicator, $event, true)">
    </app-checkbox>
  </div>
</ng-template>

<ng-template #simple let-data>
  <div class="custom-control custom-radio d-inline-block" *ngIf="!data.cat.category.respuestaMultiple">
    <input class="custom-control-input" [disabled]="!enabled" type="radio" [id]="data.indicator.id"
      [name]="data.cat.category.id" [checked]="indicatorSelected(data.indicator)"
      (change)="setIndicatorSelected(data.indicator, $event.target.checked, false)">
    <label class="custom-control-label" [for]="data.indicator.id">{{ data.indicator.descripcion }}</label>
  </div>
</ng-template>
