<div class="w-100 h-100 d-flex flex-column">
  <div class="d-flex flex-row-reverse">
    <a class="text-muted c-pointer mr-3" *ngIf="!showCloseAll"
      (click)="showCloseAll = !showCloseAll; acc.expandAll()">{{ 'core.abrir-todo' | translate }} ▼</a>
    <a class="text-muted c-pointer mr-3" *ngIf="showCloseAll"
      (click)="showCloseAll = !showCloseAll; acc.collapseAll()">{{ 'core.cerrar-todo' | translate }} ▲</a>
  </div>
  <div class="flex-grow-1">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel [id]="i" *ngFor="let item of internalItems; let i=index" [title]="item.category.descripcion">
        <ng-template ngbPanelHeader>
          <div class="no-select c-pointer" (click)="acc.toggle(i)">{{item.category.descripcion}}</div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="custom-control custom-radio" *ngFor="let opt of item.category.indicadores; let i=index">
            <input [disabled]="!enabled" type="radio" id="cat{{item.category.id}}ind{{opt.id}}"
              [name]="item.category.id" [value]="opt.id" [(ngModel)]="item.indicator.indicadorId"
              class="custom-control-input" (change)="item.indicator.indicador=opt; this.onChange()">
            <label class="custom-control-label" for="cat{{item.category.id}}ind{{opt.id}}">{{opt.descripcion}}</label>
            <i *ngIf="opt.verificacion"
              class="ml-1 fas fa-info-circle text-muted"></i>
          </div>
          <div class="form-group mt-3" *ngIf="item.indicator && item.indicator.indicador">
            <app-checkbox *ngIf="item.indicator.indicador.verificacion" [label]="item.indicator.indicador.verificacion"
              [(ngModel)]="item.indicator.verificado" [disabled]="!enabled"></app-checkbox>
          </div>
          <div class="form-group mt-3">
            <label for="inputObservaciones">{{ 'comun.observaciones' | translate }}</label>
            <quill-editor [disabled]="!enabled" id="inputObservaciones" [(ngModel)]="item.indicator.observaciones"
              name="observaciones" [placeholder]="'comun.observaciones' | translate"
              (onContentChanged)="this.onChange()">
            </quill-editor>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
